@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --body_background: #f5f5f5;
  --main_container: #ffffff;
  --number_color: rgba(85, 98, 110, 0.25);
  --text_dark: #626e79;
  --text_darker: #55626e;
  --value: #d5eaff;
  --value_vector: #99cdff;
  --light_blue: #55a0ea;
  --dark_blue: #0b76e0;
  --choice: #ff5c00;
  --choice_vector: #b04000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  letter-spacing: 0.2px;
  background: var(--body_background);
}

.main-container {
  width: 1024px;
  height: 176px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  position: relative;
  background: var(--main_container);
  box-shadow: 0px 51px 114px rgba(199, 199, 199, 0.15),
    0px 15.375px 34.3677px rgba(199, 199, 199, 0.0895633),
    0px 6.38599px 14.2746px rgba(199, 199, 199, 0.0605927),
    0px 2.30969px 5.16283px rgba(199, 199, 199, 0.0352376);
  border-radius: 12px;
  /* border: 1px solid red; */
}

.top-label {
  width: 140px;
  height: 32px;
  left: -6px;
  top: -16px;
  position: absolute;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  flex-direction: row;
  /* padding: 0px 8px;
  gap: 8px; */
  font-size: 16px;
  font-weight: 600;
  border-radius: 0px 8px 8px 0px;
  /* border: 1px solid red; */
}

.top-label:before {
  position: absolute;
  content: "";
  top: 32px;
  left: 0;
  width: 10px;
  height: 10px;
  transform-origin: top left;
  transform: rotate(-45deg);
  z-index: -1;
  background-color: var(--value_vector);
  /* border: 1px solid red; */
}

.label-text {
  /* border: 1px solid red; */
}

.value {
  color: var(--dark_blue);
  background: var(--value);
}

.fire {
  width: 16px;
  height: 18px;
  background-image: url("../assets/fire.svg");
  margin: 0 10px;
  /* flex: none;
  order: 0;
  flex-grow: 0; */
}

.choice {
}

.number {
  width: 95px;
  height: 108px;
  font-weight: 700;
  font-size: 80px;
  line-height: 135%;
  text-transform: capitalize;
  color: var(--number_color);
  /* border: 1px solid red; */
  padding: 0 12px;
}

img {
  width: 202px;
  height: 128px;
  padding: 17px 13px 32px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.middle-container {
  height: 104px;
  display: flex;
  flex-direction: column;
  padding: 17px 12px 56px;
  /* border: 1px solid red; */
}

.tv-info {
  width: 277px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--text_darker);
  cursor: pointer;
}

.middle-container-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 0;
}

.brand {
  font-weight: 500;
  font-size: 14px;
  color: var(--text_dark);
  padding-bottom: 12px;
  cursor: pointer;
}

.discount {
  width: 70px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light_blue);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--main_container);
  border-radius: 4px;
}

.rate-container {
  width: 67px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 2px 12px 0;
}

.rate {
  font-weight: 700;
  font-size: 33px;
  line-height: 120%;
  text-align: center;
  color: var(--text_darker);
  margin-bottom: 10px;
}

.rate-info {
  position: absolute;
  content: "";
  right: 0;
  top: -3px;
  width: 12.25px;
  height: 12.25px;
  background-image: url("../assets/info.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
}

.stars-container {
  display: flex;
  flex-direction: row;
}

.star {
  width: 11px;
  height: 11px;
  margin-left: 2.3px;
  background-image: url("../assets/star-full.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: var(--dark_blue);
  cursor: pointer;
  /* border: 1px solid red; */
}

.half {
  background-image: url("../assets/star-half.svg");
}

.right-container {
  width: 246px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 65px 0 26px 23px;
  /* border: 1px solid red; */
}

.deal {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--dark_blue);
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  color: var(--main_container);
  cursor: pointer;
}

.inner-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.amazon {
  font-weight: 400;
  font-size: 14px;
  color: var(--text_dark);
  cursor: pointer;
}

.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.show-more {
  font-weight: 600;
  font-size: 14px;
  color: var(--text_darker);
}

.arrow {
  height: 8px;
  width: 12px;
  color: var(--text_darker);
  background-image: url("../assets/arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 2px 0 5px;
}

@media screen and (min-width: 1074px) {
  .choice {
    display: none;
  }
}

@media screen and (min-width: 721px) and (max-width: 1074px) {
  .choice {
    display: none;
  }

  
}

@media screen and (max-width: 720px) {
  .value {
    display: none;
  }
}
